/* butter
#fedc3d

#ffdb5e
black
#000000

azure
#01abaa

Peach
#fea680 */
/* ------------------------------------------------------- */

/* papaya
#E24E42;

Mustard
#E9B000;

Blush
#EB6E80

Aqua
#008F95

Green
#006148 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #E9B000;
}

a.nav {
    color: #00aca9;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #00aca9;
}

.container {
    color: white;
}
.container h3 {
    color: #006148;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.jumbotron {
    background-color: #E24E42;
    text-align: center;
}

footer {
    background-color: #fedc3d;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  /* background-color: #fedc3d; */
}

code {
  font-size: 80%;
}
