/* butter
#fedc3d

#ffdb5e
black
#000000

azure
#01abaa

Peach
#fea680 */
/* ------------------------------------------------------- */

/* papaya
#E24E42;

Mustard
#E9B000;

Blush
#EB6E80

Aqua
#008F95

Green
#006148 */

/* -------------------------------------------------- */
/*
#558C89; darker blue/green
#74AFAD; blue/green  
#D9853B; orange
#ECECEA; whiter
#e9e9e7; whitish

 */

body {
     background-color: #74AFAD;
}

.jumbotron {
    background-color:  #D9853B;
    text-align: center;

}

blockquote {
    /* margin-left: 6em; */
    margin-top: 1em;
    font-family: 'Joti One', cursive;
}

#brand {
     font-family: 'Joti One', cursive;
     font-weight: bold;

}

#authLogin {
    background-color: #D9853B;
    margin: 5px;
    margin-left: 0px;
}

#trivia {
    background-color: #e9e9e7;
    margin: 5px;
    margin-left: 0px;
}


a.nav {
    color: #00aca9;
}

.container h3 {
    color: #006148;
}


footer {
    background-color: #D9853B;

}
