/* butter
#fedc3d

#ffdb5e
black
#000000

azure
#01abaa

Peach
#fea680 */
/* ------------------------------------------------------- */

/* papaya
#E24E42;

Mustard
#E9B000;

Blush
#EB6E80

Aqua
#008F95

Green
#006148 */

/* -------------------------------------------------- */
/*
#558C89;
#74AFAD;
#D9853B;
#ECECEA;

 */

body {
     background-color: #74AFAD;
}

.jumbotron {
    background-color:  #D9853B;
    text-align: center;
    margin-bottom: 0;
    height: .75em;
}

#brand {
     font-family: 'Joti One', cursive;
     font-weight: bold;
     margin-bottom: 500px;
}


a.nav {
    color: #00aca9;
}

.container h3 {
    color: #006148;
}


footer {
    background-color: #D9853B;

}
